<br>
<div class="container ">
  <div class="container text-center text-Whyte bg-white py-4">
      <div class="container">
                  <h1 >
                     SUS RESERVACIONES</h1>
<br>
<div class ="container">
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let reservacion of reservacionesModelGet">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ reservacion._id }}</h4>

          <p class="card-text">Fecha inicio: {{reservacion.fechaInicio}}</p>
          <p class="card-text">Fecha fin: {{reservacion.fechaFin}}</p>
          <p class="card-text">Id usuario: {{reservacion.usuario}}</p>
          <p class="card-text">Id habitacion: {{reservacion.habitacion}}</p>

          <button type="button" routerLink="/usuario/vistaUsuario" class="btn btn-danger mx-2" (click)="eliminarReservaciones(reservacion._id)">Eliminar</button>

        </div>
      </div>
    </div>
  </div>
</div>
